@import './helpers/optimize.scss';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* Collors */
$balck: #353535;
$blue: #133F68;
$darkBlue: #103659;
$lightBlue: #F5F7F9;
$orange: #F4823B;

body{
  margin: 0;
  float: left;
  min-height: max-content;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  font-family: 'Manrope', sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
  font-weight: 300;
  color: $balck;
  &.no-skroll{
    overflow: hidden;
  }
}

.container{
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  z-index: 5;
  padding: 0 20px;
  min-height: max-content;
}

p{
  margin: 0 0 40px 0;
  line-height: 170%;

  &:last-of-type {
    margin: 0;
  }

  @media all and (max-width: 500px){
    margin: 0 0 20px 0;
  }
}

img,video{
  max-width: 100%;
  display: block;

  &.fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.mobile_visible{
  display: none;
}

@media screen and (max-width:780px){
  .mobile_hidden{
    display: none !important;
  }
  .mobile_visible{
    display: block;
  }
}

.slick-arrow{
  position: absolute;
  top: calc(50% - 13px);
  z-index: 5;
  cursor: pointer;

  @media all and (max-width: 980px){
    top: -80px;
  }

  @media all and (max-width: 500px){
    top: -60px;
  }

  &.prev {
    transform: rotate(180deg);
    left: -21px;

    @media all and (max-width: 980px){
      left: 0;
    }
  }

  &.next {
    right: -21px;

    @media all and (max-width: 980px){
      right: 0;
    }
  }

}

.slick-dotted {
  margin-bottom: 61px;

  @media all and (max-width: 500px){
    margin-bottom: 41px;
  }
}

.slick-dots{
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  @media all and (max-width: 500px){
    top: calc(100% + 30px);
  }
  
  li{
    border: 1px solid $blue;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    margin: 0 7.5px;
    cursor: pointer;

    &.slick-active{
      background: $blue;
    }
  }
  button{
    display: none;
  }
}

.red{
  color: red;
}

.orange{
  color: $orange;
}

[data-popup]{
  cursor: pointer;
}

.btn {
  font-weight: normal;
  line-height: 30px;
  text-align: center;
  color: #fff;
  padding: 13px 60px;
  background: $blue;
  border-radius: 50px;
  padding: 13px 65px;
  display: flex;
  width: max-content;
  cursor: pointer;

  @media all and (max-width: 500px){
    padding: 12px 84px;
  }

  &--small {
    font-size: 14px;
    padding: 7px 24px;
  }

  &--white {
    background: #fff;
    color: $blue;
  }

  &-icon-right {
    margin-left: 15px;
  }

  &-icon-left {
    margin-right: 15px;
  }
}

.section {
  margin-bottom: 120px;

  &:last-of-type {
    margin-bottom: 0;
  }
  
  @media all and (max-width: 1024px){
    margin-bottom: 50px;
  }

  &--padding {
    padding: 60px 0;
    background: $lightBlue;

    @media all and (max-width: 500px){
      padding: 50px 0;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.02em;
    color: $blue;
    text-align: center;
    margin-bottom: 50px;

    @media all and (max-width: 500px){
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
}
/* END common styles */

@import './components/header.scss';
@import './components/popup.scss';
@import './components/footer.scss';

/* pages */

@import './components/main-page.scss';