/*FOOTER*/
.footer{
  background: $blue;
  position: relative;
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  margin-top: 150px;

  @media all and (max-width: 500px){
    padding-top: 30px;
    margin-top: 100px;
  }

  .footer-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;

    @media all and (max-width: 1023px){
      flex-direction: column;
      padding-bottom: 60px;
    }

    @media all and (max-width: 500px){
      padding-bottom: 0;
    }

    .footer-links{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 22%;

      @media all and (max-width: 1330px){
        width: 18%;
      }
      @media all and (max-width: 1023px){
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 29px;
      }
      .info-country{
        position: relative;
        margin: 24px 0 50px 0;
        @media all and (max-width: 1023px){
          margin: 0;
          order: 2;
        }
        @media all and (max-width: 500px){
          margin: 29px 0 0 0;
          width: 100%;
        }
        a{
          color: #fff;
        }
        .dropdown{
          width: 100px;
          display: flex;

          &__main {
            color: #fff;
          }
          svg{
            margin-right: 10px;
          }

          &__arrow {
            margin-left: 5px;
            cursor: pointer;
            transition: .3s;

            &--active {
              transform: rotate(180deg);
            }
          }

          .dropdown__drop{
            width: 100px;
            position: absolute;
            top: 25px;
            left: 22px;
            display: none;

            a{
              color: #fff;
            }
          }
        }
      }
      .info-social{
        display: flex;
        @media all and (max-width: 1023px){
          order: 1;
        }

        @media all and (max-width: 500px){
          margin: 29px 0 0 0;
          width: 100%;
        }
        svg{
          margin-right: 25px;
        }
      }
    }
    .footer-menu__wrap{
      display: flex;
      justify-content: space-between;
      width: 78%;
      @media all and (max-width: 1023px){
        width: 100%;
        margin-bottom: 22px;
      }
      .footer-menu{
        display: flex;
        flex-direction: column;
        width: 48%;
        @media all and (max-width: 1330px){
          width: 40%;
        }
        @media all and (max-width: 1023px){
          width: 100%;
        }
        a{
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: #fff;
          margin-bottom: 18px;
          @media all and (max-width: 1023px){
            font-size: 12px;
          }
        }
      }
    }
  }

  .footer-about{
    padding: 32px 0;
    background: $darkBlue;
    @media all and (max-width: 1023px){
      padding: 18px 0;
    }
    .container{
      display: flex;
      width: 100%;
      @media all and (max-width: 1023px){
        flex-direction: column;
      }
      p{
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        opacity: 0.5;
        margin-right: 142px;
        @media all and (max-width: 1023px){
          order: 3;
        }

        @media all and (max-width: 500px){
          margin-right: 0;
        }
      }
      a{
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        margin: 0 20px;
        @media all and (max-width: 1023px){
          margin: 8px 0;
        }
      }
    }
  }

}