/*HEADER*/
.header {
  @media all and (max-width: 1123px) {
    overflow: hidden;
  }

  .header-info {
    display: flex;
    align-items: center;
    height: 80px;

    .logo {
      width: 20%;
      flex-shrink: 0;

      @media screen and (max-width: 1123px) {
        width: auto;
      }
    }

    .info {
      display: flex;
      width: 80%;
      justify-content: space-between;
      align-items: center;

      @media all and (max-width: 1123px) {
        justify-content: flex-end;
        width: 100%;
      }
      .main-menu {
        @media screen and (max-width: 1123px) {
          display: none;
        }

        a {
          margin: 0 70px 0 0;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &-right {
        display: flex;
        align-items: center;

        @media screen and (max-width: 400px) {
          display: none;
        }
      }

      &-back-link {
        display: flex;
        align-items: center;
        margin-left: 90px;
        text-transform: uppercase;
        text-decoration: underline;
        color: $blue;
        img {
          margin-left: 15px;
        }

        @media screen and (max-width: 1123px) {
          display: none;
        }
      }

      .mobile-menu{
        display: none;
        cursor: pointer;
        position: relative;
        border: 1px solid #E9EFF2;
        border-radius: 6px;
        width: 44px;
        height: 44px;
        margin-left: 20px;

        &.active{
          .mobile-menu__icon{
            transform: rotate(45deg);
            top:20px;
            background: #133F68;
          }
          &:before {
            background: #133F68;
            transform: rotate(130deg);
            top:20px;
          }
        }

        @media all and (max-width: 1123px){
          display: flex;
        }

        &:before {
          position: absolute;
          top: 14px;
          left: 9px;
          content: '';
          width: 24px;
          border: 1px solid #133F68;
          transition: .6s;
        }
        .mobile-menu__icon{
          position: absolute;
          top: 24px;
          left: 9px;
          width: 26px;
          border: 1px solid #133F68;
          transition: .6s;
        }
      }
    }
  }

  .header-menu{
    position: relative;
    display: none;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #e4ecf2;
    height: calc(100vh - 80px);

    &:before{
      content: '';
      background: #e4ecf2;
      position: absolute;
      height: 100%;
      width: 4000px;
      left: -2000px;
      z-index: -1;
    }

    &-wrapper {
      height: 100%;
      padding-bottom: 95px;
      display: flex;
      justify-content: center;

      .buttons-container {
        position: absolute;
        bottom: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px 0;

        .cv {
          display: none;

          @media all and (max-width: 400px){
            display: flex;
          }
        }
      }
    }

    nav{
      width: 100%;
      ul{
        display: flex;
        justify-content: space-between;
        li{
          position: relative;
          a{
            font-size: 15px;
            line-height: 28px;
            letter-spacing: 0.03em;
            color: #353535;

            @media all and (max-width: 1250px ){
              font-size: 14px;
              line-height: 28px;
            }
            &:hover{
              color: #6F8C9C;
              border-bottom:1px solid #6F8C9C;
              padding-bottom:2px;
            }
            &.header-menu__btn{
              margin-left: 35px;
              padding: 8px 24px;
              background: #133F68;
              border-radius: 50px;
              letter-spacing: 0.05em;
              color: #FFFFFF;

              @media all and (max-width: 1250px){
                margin-left: 2px;
                padding: 6px 12px;
              }
              &:hover{
                border-bottom: none;
                color: #FFFFFF;
              }
            }
          }
        }
      }
    }
    @media all and (max-width: 1123px){
      &.active{
        display: flex;
        background: #FFFFFF;

        &:before{
          background: #FFFFFF;
        }
        ul{
          padding: 0 0 10px 0;
          flex-direction: column;
          justify-content: flex-start;

          li{
            margin: 0;
            padding: 20px 0;
            border-bottom: 1px solid #E9EFF2;

            a{
              font-size: 14px;
              line-height: 24px;
              letter-spacing: 0.03em;
              color: #353535;
            }
          }
        }
      }
    }
  }
}